$bgColor: #222222;
$textColor: #fff;
$mainColor:hsl(179, 85%, 55%);
$errorColor: #FF0000;
$baseFont: 'ubuntu';
$monoFont: 'ubuntu mono';
$condensedFont: 'ubuntu condensed';




.form-header {
    text-align: center;
}

.form-title {
    font-size: 2rem;
    font-family: $condensedFont;
    letter-spacing: 8px;
}


.form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .form-body {
      padding-bottom: 50px;
  }

.form-input {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
}

input {
    margin-top: 1.5rem;
    height: 50px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #fff;
    color: $textColor;
    font-family: $monoFont;
}

.form-bot {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-link {
    color: $mainColor;
    font-family: $monoFont;
    cursor: pointer;
}

.btn-base {
    border: none;
    background: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $textColor;
    font-family: $condensedFont;
    font-size: 1.3em;
    letter-spacing: 3px;
    height: 35px;
    width: 150px;
    cursor: pointer;
}

.link-form {
    color: $mainColor;
    font-family: $condensedFont;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin: auto 0;
    border-bottom: 2px solid $mainColor;
}

.error-msg {
    padding: 1.2rem;
    border: 2px solid $errorColor;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: row;
    color: $errorColor;
}

.gradient-border-btn {
  --border-width: 2px;

  position: relative;
  width: 150px;
  height: 35px;
  color: white;
  background: $bgColor;
  border-radius: 5px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      /*
      hsl(314, 85%, 55%),
      hsl(179, 85%, 45%)
      */
hsl(224, 85%, 55%),
hsl(269, 85%, 55%),
hsl(314, 85%, 55%),
hsl(359, 85%, 55%),
hsl(44, 85%, 55%),
hsl(89, 85%, 55%),
hsl(134, 85%, 55%),
hsl(179, 85%, 55%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(1 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

