
$bgColor: #242424;
$textColor: #fff;
$mainColor: #FF7A00;
$baseFont: 'ubuntu';
$monoFont: 'ubuntu mono';
$condensedFont: 'ubuntu condensed';

.App {
  text-align: center;
  background-color: bgColor;
}

.landing-container {
  margin-top: 25vh;
}

.main-title {
  background-color: bgColor;
}

h1 {
  color: $textColor;
  font-family: $monoFont;
  font-size: 4em;
  font-weight: 300;
  text-shadow: 0px 0px 10px #FFFFFF;
}

h2 {
  color: $mainColor;
  font-family: $monoFont;
  font-weight: 300;
}

h3 {
  color: $textColor;
  font-family: $monoFont;
  font-size: 2em;
}

